/* Full Website */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
}

ul {
    list-style: none;
    width: fit-content;
    margin: auto;
}


.nav-links li{
    display: flex;
    justify-content: space-around;
    float: left;
    margin-left: 30px;
}

ul li a{
    font-size-adjust: inherit;
    text-decoration: none;
    letter-spacing: 3px;
    color: white;
}

ul li a:hover{
    text-decoration: underline;
}

.burger{
    display: none;
}


.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all .3s ease;
}


body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 16px;
}

#headline{
    background: url('images/pastel.png') no-repeat;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.black{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  50%;
    background-color: black;
    padding: auto;
}

.black .always{
    text-align: center;
    background: url('images/pastel.png') no-repeat;
    background-size: cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 0px;
    vertical-align: middle;
}

.always h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: calc(11vw + 11vh);
}

.white{
    display: flex;
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('images/pastel.png') no-repeat;
    background-size: cover;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    color: white;
}

.white p{
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    justify-items: space;
    font-size: calc(7vw + 7vh);
}


#Professional-Bio{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
}

.pro-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.pro-picture img{
    height: 100%;
}

.pro-bio{
    width: 50%;
    background-color: rgb(1, 24, 27);
    display: flex;
    flex-direction: column;
}

.greet{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: calc(4vh + 4vw);
    font-weight: bolder;
    }

.pro-bio h1{
        text-align: center;
        font-size: calc(2.5vh + 2.5vw);
        font-family: 'Montserrat Alternates', sans-serif;
        background: url('images/pastel.png') no-repeat;
        background-size: cover;
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        }

.pro-bio p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1vh + 1vw);
    padding: 20px;
    color: white;
    text-indent: 40px;
    line-height: calc(2vh + 2vw);
}

.FSD{color:#FBF5BB;} .Devlang{color:#E399D9;} .per1{color:#CC97F9;} .per2{color:#9A9EF9;} .per3{color:#A4DeFe;}

.mail-me{
    align-self: center;
    background-color: #CAF0FE;
    width: 75%;
    height: 80px;
    color: black;
    vertical-align: middle;
    font-size: calc(2vh + 2vw);
    font-weight: bolder;
    line-height: 80px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    text-align: center;
}

.mail-me a{
    text-decoration: none;
    color: black;

}

.mail-me:hover{
    background-color: #E5D8FE;
}

#My-Portfolio{
    display: flex;
    flex-direction: row;
}

#My-Portfolio .portfolio-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    width: 50%;
    background-color: rgb(4, 15, 36);
    color: white;
    text-align: right;
    overflow: hidden;
}

.goto-page{
    font-size: calc(1.5vh + 1.5vw);
}

.portfolio-title h1{
    font-size: calc(7.5vh + 7.5vw);
    margin: 0px;
    background: url('images/pastel.png') no-repeat;
    background-size: cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    overflow-wrap: break-word;
    word-break: break-all;
}

#My-Portfolio .projects{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(141, 180, 252);
}

.project{
    font-size: calc(2vh + 2vw);
    color: white;
    vertical-align: middle;
    text-align: center;
    margin: 5px
}


.first-row, .second-row, .third-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 33.3%;
}
.box1, .box2, .box3, .box4, .box5, .box6 { 
    border: 10px solid rgb(141, 180, 252);
    align-items: center; 
    justify-content: center;
    height: 100%;
    width: 50%;
}

.box1 img{
    width: 100%;
    height: 100%;
}
.box2{background-color:blue;}
.box3{background-color:black;}
.box4{background-color:purple;}
.box5{background-color:pink;}
.box6{background-color:navy}

 #About-ME{
    display: flex;
    flex-direction: row;
    background-color:rgb(65, 16, 16);
    height: 1200px;
}

 #About-ME .contact-deets{
    width: 50%;
}

 #About-ME .contact-title{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    background-color: rgb(12, 4, 4);
    color: white;
    font-size: calc(6vw + 6vh);
    text-align: center;

}

.contact-title h1{
    background: url('images/pastel.png') no-repeat;
    background-size: cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    overflow-wrap: break-word;
    word-break: break-all;
}

.about-pic{
    margin-top: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.about-pic img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about-me{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1vw + 1vh);
    padding: 20px;
    color: white;
    text-indent: 40px;
    line-height: 40px;
    background-color: rgb(65, 16, 16)
}

.aboutcontact{
    display: flex;
    justify-content: center;
    background-color: rgb(65, 16, 16)
}

.git, .slack, .linkedin, .gmail{
    margin: 20px;
}

.aboutcontact img{
    height: 100px;
    width: 100px;
}

.footer{
    font-size: 11px;
   display: flex;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: black;
    z-index: 1;
}

.footer a{
    color: white;
}

/* ipad pro size */
@media screen and (max-width: 1024px){

    header{
        width: 100%;
    }

    section{
        width: 100%;
        overflow: hidden;
    }

    .nav-links{
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, .9);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    }

    .burger{
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    }

    .nav-active{
        transform: translateX(0%);
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    
    .toggle .line2{
        opacity: 0;
    }
    
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }

    #headline{
        flex-direction: column;
    }

    .black, .white {
        width: 100%;
        height: 50%;
        text-align: center;
    }

    .black .always{
        text-align: center;
    }

    #Professional-Bio{
        flex-direction: column;
        height:1200px;
    }

    .pro-picture, .pro-bio{
        width: 100%;
    }

    .pro-picture{
        height: 40%;
    }

    .pro-picture img{
        height: 75%;
        border-radius: 50%;
    }

    .pro-bio{
        height: 60%;
    }

    #My-Portfolio{
        flex-direction: column;
    }
    
    #My-Portfolio .portfolio-title{
        width: 100%;
        height: 30%;
        text-align: center;
    }
    
    
    #My-Portfolio .projects{
        height: 70%;
        width: 100%;
    }

    #About-ME{
        flex-direction: column;
        height: 1300px
    }
    
     #About-ME :nth-child(1) { order: 2; }
     #About-ME :nth-child(2) { order: 1; }
    
     #About-ME .contact-deets {
     width: 100%;
     height: 60%;
 }
 #About-ME .contact-title{
    width: 100%;
    height: 40%;
}

.about-pic img{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.git, .slack, .linkedin, .gmail{
    margin: 10px;
}

.aboutcontact img{
    height: 50px;
    width: 50px;
}

}

/* ipad pro size */
@media screen and (max-width: 768px){

    #Professional-Bio{
        flex-direction: column;
        height:100vh;
    }

    .pro-picture, .pro-bio{
        width: 100%;
    }

    .pro-picture{
        height: 40%;
    }

    .pro-picture img{
        height: 80%;
        border-radius: 50%;
    }

    #About-ME{
        flex-direction: column;
        height: 1300px
    }

     #About-ME .contact-deets {
        height: 70%;
    }

    #About-ME .contact-title{
        height: 30%;
    }

.about-pic img{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.git, .slack, .linkedin, .gmail{
    margin: 10px;
}

.aboutcontact img{
    height: 50px;
    width: 50px;
}


}