/* Full Website */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
}

ul {
    list-style: none;
    width: fit-content;
    margin: auto;
}


.nav-links li{
    display: flex;
    justify-content: space-around;
    float: left;
    margin-left: 30px;
}

ul li a{
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 3px;
    color: white;
}

ul li a:hover{
    text-decoration: underline;
}

.burger{
    display: none;
}


.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all .3s ease;
}


body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

section{
    width: 100%;
    height: 1090px;
    overflow: hidden;
}

#splash{
    background: url('images/pastel.png') no-repeat;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 1090px;
}

.black{
    width:  50%;
    background-color: black;
}

.black .always{
    text-align: center;
    background: url('images/pastel.png') no-repeat;
    background-size: cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: right;
    margin-top: 0px;
    vertical-align: middle;
    line-height: 550px;
}

.always h1{
    margin: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    overflow-wrap: break-word;
    font-size: 350px;
}

.white{
    display: flex;
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('images/pastel.png') no-repeat;
    background-size: cover;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    color: white;
}

.white p{
    margin-left: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    justify-items: space;
    font-size: 200px;
}


#Professional-Bio{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
}

.pro-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.pro-picture img{
    height: 100%;
}

.pro-bio{
    width: 50%;
    background-color: rgb(1, 24, 27);
    display: flex;
    flex-direction: column;
}

.greet{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 200px;
    font-weight: bolder;
    }

.pro-bio h1{
        text-align: center;
        font-size: 80px;
        font-family: 'Montserrat Alternates', sans-serif;
        background: url('images/pastel.png') no-repeat;
        background-size: cover;
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        }

.pro-bio p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
    text-indent: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.FSD{color:#FBF5BB;} .Devlang{color:#E399D9;} .per1{color:#CC97F9;} .per2{color:#9A9EF9;} .per3{color:#A4DeFe;}

.mail-me{
    align-self: center;
    background-color: #CAF0FE;
    width: 75%;
    height: 80px;
    color: black;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bolder;
    line-height: 80px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    text-align: center;
}

.mail-me a{
    text-decoration: none;
    color: black;

}

.mail-me:hover{
    background-color: #E5D8FE;
}

#My-Portfolio{
    display: flex;
    flex-direction: row;
}

#My-Portfolio .portfolio-title{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    width: 50%;
    background-color: rgb(4, 15, 36);
    color: white;
    text-align: right;
    overflow: hidden;
}

.goto-page{
    font-size: 75px;;
}

.portfolio-title h1{
    font-size: 350px;
    margin: 0px;
    background: url('images/pastel.png') no-repeat;
    background-size: cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    overflow-wrap: break-word;
}

#My-Portfolio .projects{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(141, 180, 252);
}

.project{
    font-size: 50px;
    color: white;
    vertical-align: middle;
    text-align: center;
    line-height: 350px;
    margin: 5px
}


.first-row, .second-row, .third-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 33.3%;
}
.box1, .box2, .box3, .box4, .box5, .box6 { 
    border: 10px solid rgb(141, 180, 252);
    align-items: center; 
    justify-content: center;
    height: 100%;
    width: 50%;
}

.box1 img{
    width: 100%;
    height: 100%;
}

.box2{background-color:blue;}
.box3{background-color:black;}
.box4{background-color:purple;}
.box5{background-color:pink;}
.box6{background-color:navy}

 #About-ME{
    display: flex;
    flex-direction: row;
    background-color:rgb(65, 16, 16);
}

 #About-ME .contact-deets{
    width: 50%;
}

 #About-ME .contact-title{
    width: 50%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    background-color: rgb(12, 4, 4);
    color: white;
    font-size: 150px;
    text-align: left;
    padding-top: -50px;
}

.contact-title h1{
    background: url('images/pastel.png') no-repeat;
    background-size: cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    overflow-wrap: break-word;
    margin-left: 50px;
}

.about-pic{
    margin-top: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.about-pic img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about-me{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    color: white;
    text-indent: 40px;
    line-height: 40px;
    background-color: rgb(65, 16, 16)
}

.aboutcontact{
    display: flex;
    justify-content: center;
    background-color: rgb(65, 16, 16)
}

.git, .slack, .linkedin, .gmail{
    margin: 20px;
}

.aboutcontact img{
    height: 100px;
    width: 100px;
}

.footer{
    font-size: 11px;
   display: flex;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: black;
    z-index: 1;
}

.footer a{
    color: white;
}

/* ipad pro size */
@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }

    header{
        width: 100%;
    }

    section{
        width: 100%;
        overflow: hidden;
    }

    .nav-links{
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, .9);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    }

    .burger{
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    }

    .nav-active{
        transform: translateX(0%);
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    
    .toggle .line2{
        opacity: 0;
    }
    
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
    
    #splash{
        display: flex;
        flex-direction: column;
        height: 1366px;
    }
    
    .black{
        width:  100%;
        height: 50%;
        background-color: black;
    }
    
    .black .always{
        margin-top: 0px;
        text-align: center;
        vertical-align: middle;
        line-height: 350px;
    }
    
    .always h1{
        font-size: 310px;
    }
    
    .white{
        width:  100%;
        height: 50%;
    }
    
    .white p{
        text-align: center;
        font-size: 150px;
    }

    #Professional-Bio{
        flex-direction: column;
        height:1366px;
    }
    
    .pro-picture{
        height: 50%;
        align-self: center;
    }
    
    .pro-picture img{
        height: 75%;
        border-radius: 50%;
    }
    
    .pro-bio{
        height: 50%;
        width: 100%;
    }
    
    .greet{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 100px;
        font-weight: bolder;
        }
    
    .pro-bio h1{
            text-align: center;
            font-size: 50px;
            }
    
    .pro-bio p{
        font-size: 25px;
        margin-bottom: 0px;
    }
  
    .mail-me{
        width: 50%;
    }

    #My-Portfolio{
        flex-direction: column;
        height:1366px;
    }
    
    #My-Portfolio .portfolio-title{
        text-align: center;
        height: 30%;
        width: 100%;
    }
    
    .goto-page{
        font-size: 50px;;
    }
    
    .portfolio-title h1{
        font-size: 230px;
    }
    
    #My-Portfolio .projects{
        height: 70%;
        width: 100%;
    }
    
    .project{
        line-height: 300px;

    }

     #About-ME{
        height: 1366px;
        flex-direction: column;
    }
    
     #About-ME :nth-child(1) { order: 2; }
     #About-ME :nth-child(2) { order: 1; }
    

     #About-ME .contact-deets{
        width: 100%;
    }
    
     #About-ME .contact-title{
        width: 100%;
        height: 30%;
        font-size: 96px;
        text-align: center;
    }
    
    .contact-title h1{
        margin: 0px;
    }
    
    .about-pic{
        margin-top: 60px;
    }
    .about-pic img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }

}

@media screen and (max-width: 768px){
    
    .always h1{
        font-size: 250px;
    }

    #Professional-Bio{
        flex-direction: column;
        height:1366px;
    }
    
    .pro-picture{
        height: 40%;
    }
    
    .pro-picture img{
        height: 75%;
    }
    
    .pro-bio{
        height: 60%;
    }

    .goto-page{
        font-size: 50px;;
    }
    
    .portfolio-title h1{
        font-size: 170px;
    }
    
}


@media screen and (max-width: 414px){

    #splash{
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    
    .black{
        height: 40%;
    }
    
    .black .always{
        margin-top: 20px;
        line-height: 150px;
    }
    
    .always h1{
        font-size: 150px;
    }
    
    .white{
        height: 60%;
    }
    
    .white p{
        font-size: 80px;
    }


    #Professional-Bio{
        flex-direction: column;
        height:1366px;
    }
    
    .pro-picture{
        height: 30%;
        align-self: center;
    }
    
    .pro-picture img{
        height: 75%;
        border-radius: 50%;
    }
    
    .pro-bio{
        height: 70%;
        width: 100%;
    }
    
    .greet{
        font-size: 90px;
    }

    .pro-bio h1{
            text-align: center;
            font-size: 40px;
            }

            .pro-bio p{
                font-size: 23px;
                }
    
    .about-me{
        margin-bottom: 30px;
    }
  
    .mail-me{
        font-size: 25px;
        width: 75%;
    }


    #My-Portfolio .portfolio-title{
        height: 15%;
    }

    .goto-page{
        font-size: 25px;;
    }
    
    .first-row, .second-row, .third-row{
        flex-direction: column;
        width: 100%;
        align-items: center; 
        justify-content: center;
    }

    .portfolio-title h1{
        font-size: 90px;
    }
    
    #My-Portfolio .projects{
        height: 85%;
    }
    
    .project{
        line-height: 300px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 { 
        margin:0px;
        border: 5px solid rgb(141, 180, 252);
        height: 50%;
        width: 75%;
        line-height: 200px;;
    }


     #About-ME{
        height: 1366px;
        flex-direction: column;
    }
    
     #About-ME .contact-deets{
        width: 100%;
    }
    
     #About-ME .contact-title{
        font-size: 50px;
    }
    
    .contact-title h1{
        margin: 0px;
    }
    
    .about-pic{
        margin-top: 10px;
    }
    .about-pic img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    .aboutcontact img{
        margin-top: -50px;
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 375px){

    #splash{
        height: 900px;
    }
    
    .black{
        height: 30%;
    }
    
    .black .always{
        margin-top: 20px;
        line-height: 100px;
    }
    
    .always h1{
        font-size: 100px;
    }
    
    .white{
        height: 70%;
    }
    
    .white p{
        font-size: 60px;
    }

    #Professional-Bio{
        height:1500px;
    }

     #About-ME{
        height: 1500px;
    }
}

@media screen and (max-width: 320px){

    #splash{
        height: 800px;
    }
    
    .black{
        height: 30%;
    }
    
    .black .always{
        margin-top: 20px;
        line-height: 100px;
    }
    
    .pro-picture{
        height: 20%;
        align-self: center;
    }
    
    .pro-picture img{
        height: 70%;
        border-radius: 50%;
    }
    .pro-bio{
        height: 80%;
    }

    .always h1{
        font-size: 100px;
    }
    
    .white{
        height: 70%;
    }
    
    .white p{
        font-size: 60px;
    }

    #Professional-Bio{
        height:1500px;
    }

     #About-ME{
        height: 1600px;
    }

    .goto-page{
        font-size: 25px;;
    }
    
    .first-row, .second-row, .third-row{
        flex-direction: column;
        width: 100%;
        align-items: center; 
        justify-content: center;
    }

    .portfolio-title h1{
        font-size: 70px;
    }
}
